@use "../helpers/" as *;

.container {
  min-width: rem(600);
  @include abs-center();

  .output__text {
    width: 100%;
    height: rem(30);
    border: 1px #000000 solid;
  }

  .reset__buttons {
    cursor: pointer;
  }

  .container__buttons--action {
    width: 100%;

    .special__characters {
      display: flex;
      flex-direction: row;
      column-gap: rem(20);
      background: #00000012;
      .grid__container {
        padding-top: rem(5);
        padding-left: rem(5);
        padding-bottom: rem(5);
        max-width: rem(300);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(10);
        text-align: center;

        & > div {
          height: rem(30);
          cursor: pointer;
          background: #fff;
          border: 1px solid #d8d8d8;
          transition: all 0.6s ease-in-out;
          &:hover {
            background: #9b949438;
          }
        }
        .vertical-text {
          font-size: 80%;
          margin-left: -3px;
          vertical-align: 0.5em;
        }

        .button-sqrt-n span img {
          text-align: center;
          margin: rem(5) rem(10) rem(0) rem(10);
        }
      }

      .grid__container-numbers {
        padding-top: rem(5);
        padding-left: rem(5);
        padding-bottom: rem(5);
        max-width: rem(300);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(10);
        text-align: center;

        & > div {
          height: rem(30);
          width: rem(40);
          cursor: pointer;
          background: #fff;
          border: 1px solid #d8d8d8;
        }
        [class^="number"] {
          background: linear-gradient(#00000021, #00000029);
          transition: background 0.3s ease;
          &:hover {
            background: #fbf9f9;
          }
        }
        [class^="symbol"] {
          transition: background 0.3s ease;
          &:hover {
            background: #9b949438;
          }
        }
      }

      .grid__container-additionally {
        padding-top: rem(5);
        padding-left: rem(5);
        padding-bottom: rem(5);
        max-width: rem(160);
        display: grid;
        grid-template-columns: repeat(2, rem(70));
        gap: rem(10);
        text-align: center;

        .button-delete-symbol {
          padding-top: rem(3);
          grid-column: span 2;
          justify-self: stretch;
          border-radius: rem(12);
          height: rem(30);
          display: grid;
          place-items: center;
          svg {
            width: 100%;
            height: 100%;
          }
        }

        .button-arrow-confirmation {
          grid-column: span 2;
          justify-self: stretch;
          background: #0066ff;
          border-radius: rem(12);
          height: rem(30);
          display: grid;
          place-items: center;

          svg {
            width: rem(32);
            height: rem(32);
            stroke: white;
          }
        }

        & > div {
          height: rem(30);
          cursor: pointer;
          background: #fff;
          border: 1px solid #d8d8d8;
        }
        [class^="button"] {
          height: rem(30);
          transition: background 0.3s ease;
          &:hover {
            background: #fbf9f9;
          }
        }
      }
    }
  }
}
