@use "../helpers/" as *;

.container {
  min-width: rem(800);
  @include abs-center();

  .output__text {
    width: 100%;
    height: rem(30);
    border: 1px #000000 solid;
  }

  .reset__buttons {
    cursor: pointer;
  }

  .container__buttons--action {
    width: 100%;

    .special__characters {
      background: #00000012;
      .grid__container {
        padding-top: rem(5);
        padding-left: rem(5);
        padding-bottom: rem(5);
        max-width: rem(300);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        //grid-auto-rows: rem(45);
        gap: rem(10);
        text-align: center;

        & > div {
          cursor: pointer;
          background: #fff;
          border: 1px solid #d8d8d8;
        }
        .vertical-text {
          font-size: 80%;
          margin-left: -3px;
          vertical-align: 0.5em;
        }

        .button-sqrt-n span img {
          text-align: center;
          margin-left: rem(30);
          margin-top: rem(5);
        }
      }
    }
  }
}
